* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #3f6f1fd0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.view_page {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
}